:root {
    --main: limegreen;
}

html {
    font-family: Noto Sans, sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before
{
    box-sizing: inherit;
}

body {
    margin: 0;
}

.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-style: normal;
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.header
{
    height: 70px;
    background-color: white;
    width: 1000;
}

.header-content
{
    max-width: 1500px;
    margin: 0 auto;
    padding: 5px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.tabs-text
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.tabs-text:after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--main);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}    

.tabs-text:hover:after
{
    transform: scaleX(1);
    transform-origin: bottom left;    
}

.sign
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.sign-in
{
    color: #0B132A;
    cursor: pointer;
}

.sign-in:hover
{
    color: #5f5f5f;
}

.sign-up
{
    width: 150px;
    height: 45px;
    border: 1px solid var(--main);
    border-radius: 50px;
    color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sign-up:hover
{
    color: white;
    background-color: var(--main);
}

.main {
    width: auto;
    height: 70vh;
    margin: 0 auto;
    background-image: url(https://i.pinimg.com/originals/c7/75/dc/c775dc91f2c3688627d40ffe3b19bc54.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    padding: 10px 40px;
    margin: 20px;
    border: 2px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(5px);
  	-webkit-backdrop-filter: blur(5px);
}

.main-h1 {
    font-family: Raleway;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
}

.main-p {
    font-family: Noto Sans;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.pref {
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    font-family: Raleway;
    font-weight: 700;
}

.headSquare {
    margin: 20px auto;
    background-color: limegreen;
    height: 10px;
    width: 140px;
}

.prefer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.prefCard {
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 255, .2);;
    padding: 50px 10px 10px 10px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.prefImage {
    width: 50px;
    height: 50px;
    background-color: var(--main);
    border-radius: 10px;
}

.prefText {
    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
}

.prefBottomText {
    font-size: 15px;
    font-family: Noto Sans;
    font-weight: lighter;
    text-align: center;
}

.prefCard:nth-child(even) {
    margin-top: 0;
}

.news {
    padding-top: 70px;
}

.newsScroll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prev, .next {
    background-color: lightgray;
    border-radius: 6px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100px;
}


.artic {
    width: 1600px;
    height: 500px;
    background-image: linear-gradient(0.25turn, #C04AEA, #4A74EA);
    display: flex;
    border-radius: 20px;
    padding: 30px;
}

.artText {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.artheader {
    justify-self: flex-start;
    text-align: start;
    font-size: 90px;
}

.artBottomText {
    text-align: left;
    position: absolute;
    width: 1000px;
    left: 0;
    bottom: 0;
}

.bottom-header {
    border-top: 1px solid lightgray;
    margin-top: 30px;
}